<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringbootApp" type="Application" factoryName="Application" folderName="Java+Spring" nameIsGenerated="true">
    <option name="MAIN_CLASS_NAME" value="SpringbootApp" />
    <module name="SpringBootModule" />
    <extension name="coverage">
      <pattern>
        <option name="PATTERN" value="com.lekhraj.java.spring.*" />
        <option name="ENABLED" value="true" />
      </pattern>
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>